*{
box-sizing: border-box;
}
body{
	background-color:PaleTurquoise;
}
h1{
color:Navy;	
text-align: center;	
}
div {
    
    background-position: center;
    text-align: center;
}
p{
	display: inline-block; 
	background-color:LightSeaGreen;
	border-style: double;
	border-width: 7px;
    border-color:Teal; 
	height: 440px;
    width: 600px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 14px;
	font-weight: 400px;
	text-align: center;
}