*{
box-sizing: border-box;

}

body{
  background-color:#B0E0E6;
   
}

h1 {
	font-family: 'Shadows Into Light', cursive;
	font-size: 20px;
  font-weight: 700;
  color:#191970;
  font-weight:bold;
  text-align: center;
  height: 100px;
}
div{
	
  margin-left: 20%;
  margin-right: 20%;
  border:2px solid  #4682B4;
  background: url("./images/wave.png") no-repeat center center fixed;
  box-shadow: 5px 10px 8px #888888;
  border-radius: 10%;
  height: 500px;
  width: 720px;
  text-align: center;
  background-position: center center;
}
 h2 {
 font-family: 'Shadows Into Light', cursive;
 font-size: 16px;
 font-weight: 700;
 color:MidnightBlue;
 font-weight:bold;
 height: 20px;
 }
  
 p {
  display: inline-block; text-align: left;
  color:Navy;
  font-family: 'Shadows Into Light', cursive;
  font-weight:bold;
  font-size: 14px;
  font-weight: 300;

}

