*{
box-sizing: border-box;
}
body{
  background-image: url("./images/wave.png") no-repeat center center fixed;
  opacity: 0.5;
  margin-left: 20%;
  margin-right: 20%
  border:2px solid #DBE9EE;
  height: 640px;
  width: 1200px;
  background-position: center center;
}
h1 {
	font-family: 'Shadows Into Light', cursive;
	font-size: 16px;
  font-weight: 700;
  color:Black;
  text-align: center;
  height: 100px;
}
div{
	text-align: center;
	background-position: center;
}
 h2 {
 font-family: 'Shadows Into Light', cursive;
 font-size: 14px;
 font-weight: 700;
 color:MidnightBlue;
 w
 height: 20px;
 }
  
 p {
  display: inline-block; text-align: left;
  color:Navy;
  font-family: 'Shadows Into Light', cursive;
  font-size: 12px;
  font-weight: 300;

}

