*{
  box-sizing: border-box;
}

h2 {
	background-image: url("./site/waves.png");
  text-align: center;
	font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 40px;
  color: DeepSkyBlue;
}


li {

  display: inline-block;
  position: relative;
  top: 20px;
  left: 50px;
  width: 80px;
  color: #466995;
  font-family:"Oswald", "sans-serif";
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
}

li:hover {
  color: #DBE9EE;
}

h3{
  color: #466995;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  padding: 30px;
}

footer {
  color: #466995;
  text-align: center;
  height: 100px;
}